*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: snow;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

main{
    flex: 1;
    /* height: 100vh; */
    margin-bottom: 5rem;
}

main .listing-links{
    width: 35%;
    margin: 1rem auto;
    color: rgb(243, 61, 61);
    /* background-color: #e3dfdfb0; */
}


header{
    width: 100%;
    height: fit-content;
    background-color: rgb(243, 61, 61);
    color: snow;
    padding: 0.5rem 0.7rem;
}

header .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin:  0.1rem auto;
}

header .container ul{
    list-style: none;
    display: flex;
}

header .container li{
    display: inline;
    margin: 0.7rem;
}

header .logo{
    flex: 1;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    
}

.logo a{
    text-decoration: none;
    color: snow;
}

.logo span{
    color: black;
}

header ul input{
    padding: 0.4rem 0.7rem;
    border-radius: 14px;
    border: none; 
    background-color: snow;
    color: rgb(243, 61, 61);
    font-size: 14px;
    font-weight: 600;
}

.search #sText{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1rem;
    border: 1px solid snow;
}

.search #sButton{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    background-color: rgb(243, 61, 61);
    color: snow;
    border: 1px solid snow;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header nav li{
    align-self: center;
}

header nav li a{
    padding-top: 0.5rem;
    text-decoration: none;
    color: snow;
}

.container{
    width: 80%;
    margin: auto;
    padding: 1rem 0.5rem;
}



.listings-card{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.listings-card .card{
    margin: 1rem;
    width: 45%;
    padding: 0.5rem 0.7rem;
    border: 1px solid rgb(243, 61, 61);
    border-radius: 10px;
    display: flex;
}

.card .left{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .left img{
    width: 100%;
    height: auto;
}

.card .right{
    margin-left: 1rem;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: start;
}

.right a{
    text-decoration: none;
    color: rgb(243, 61, 61);
}

.right .tags{
    display: flex;
    list-style: none;
    /* justify-content: space-evenly; */
}

.tags .tag a{
    color: snow;
}

/* .right,.top-right h3{
    font-size: large;
    color: #0A0A0A;
}

.right,.top-right h4{
    font-size: large;
    color: #383838;
} 
*/

.tags .tag{
    margin-right: 1rem;
    padding: 0.2rem 0.5rem;
    background-color: rgb(243, 61, 61);
    border-radius: 15px;
    /* color: oldlace; */
}

.tag a{
    font-size: medium;
}


.card .card-body{
    display: flex;
    color: rgb(243, 61, 61);
    justify-content: space-between;
}

.listing-card{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    padding: 0.8rem 1.2rem;
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    border: 1px solid rgb(243, 61, 61);
    border-radius: 10px;
}

.listing-card .spacing{
    margin-bottom: 0.2rem;
    padding: 0.2rem 0.5rem;
}

.listing-card .top{
    display: flex;
}

.top .top-right{
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: start;
}

.top-right .tags{
    display: flex;
    justify-content: space-evenly;
}

.listing-card h2{
    text-align: center;
}

.listing-card .span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listing-card #website{
    text-decoration: none;
    background-color: black;
    color: snow;
    padding: 0.5rem 1.2rem;
    border-radius: 15px;
    transition: all 0.2s ease-in;
}

.listing-card a:hover{
    background-color: rgb(58, 58, 58);
}

.listing-card #email{
    color: rgb(243, 61, 61);
    text-decoration: underline;
}

.listing-card p{
    text-align: justify;
}

.listing-card #listing-action{
    padding: 0.5rem 1.2rem;
    border: none;
    background-color: rgb(243, 61, 61);
    color: white;
    transition: all ease 0.2s;
    font-weight: 700;
    border: 1px solid rgb(243, 61, 61);
    border-radius: 10px;
}

.listing-card #listing-action:hover{
    color: rgb(243, 61, 61);
    background-color: white;
    border: 1px solid rgb(243, 61, 61);
    cursor: pointer;
}

footer{
    width: 100%;
    height: fit-content;
    background-color: rgb(243, 61, 61);
    color: white;
    text-align: center;
    padding: 0.5rem;
    
}

/* hero.blade */
.hero{
    /* width: 100%; */
    margin: auto 1.2rem;
    padding: 1rem 2rem;
    text-align: center;
    background-image: linear-gradient(to right,#edf3fdda, #deebddb0);
    border: 1px solid rgb(243, 61, 61);
    border-radius: 10px;

}

.hero a{
    margin-top: 1rem;
    padding: 0.5rem 1.2rem;
    border: 1px solid rgb(243, 61, 61);
    color: rgb(243, 61, 61);
    background-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.2s ease;
    text-decoration:  none;
}

.hero a:hover{
    background-color: rgb(243, 61, 61);
    color: snow;
    cursor: pointer;
}

.hero h2{
    text-transform: uppercase;
    /* color: rgb(243, 61, 61); */
    font-size: 36px;
    margin-bottom: 0.7rem;
}

.hero span{
    color: rgb(243, 61, 61);
}

.hero p{
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 1rem;
}

/* create.blade.php */

.create-form{
    width: 40%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
   
}

.create-form form{
    background-image: linear-gradient(to bottom,#f9f2f2da, #e3dfdfb0);
    padding: 1rem 2rem;
    border: 1px solid rgb(243, 61, 61);
    border-radius: 10px;
}

.create-form h2{
    margin-bottom: 0.3rem;
}

.create-form .input-field{
    display: flex;
    flex-flow: column;
    margin-bottom: 0.8rem;
    
}

.create-form input,textarea{
    padding:0.5rem 0.7rem ;
    border: 1px solid rgb(243, 61, 61);
}

.create-form input:focus{
    border: 1px solid rgb(243, 61, 61);
}

.create-form label{
    margin-bottom: 0.3rem;
}

.create-form input[type=submit]{
    width: 100%;
    background-color: snow;
    color: rgb(243, 61, 61);
    border: 1px solid rgb(243, 61, 61);
    /* border: none; */
    font-weight: bold;
    transition: all 0.2s ease;
}

.create-form input[type=submit]:hover{
    background-color: rgb(243, 61, 61);
    color: snow;
}

.create-form textarea{
    border: 1px solid rgb(243, 61, 61);
}

.create-form .input-error{
    color: rgb(243, 61, 61);
    font-size: 12px;
    line-height: 1.5;
    margin-top: 0.2rem;
    text-align: center;
}

/* flash message */
body .flashMessage{
    background-color: #deebddb0;
    color: rgb(243, 61, 61);
    padding: 0.5rem 0.7rem;
    margin: 0.3rem auto;
    text-align: center;
    font-size: 16px;
}

/* user registration form */

.container .user-reg-form{
    width: 30%;
    margin: 3rem auto;
    background-color: #deebddb0;
    padding: 1rem 1.4rem;
}

.user-reg-form h3{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    color: rgb(243, 61, 61);
    margin-bottom: 0.5rem;
}

.user-reg-form form{
    width: 90%;
    margin: auto;
}

.user-reg-form .input-fields{
    display: block;
    margin-bottom: 0.5rem;
}

.input-fields label{
    display: block;
    margin-bottom: 0.2rem;
}

.input-fields input{
    width: 100%;
    padding: 0.5rem 0.7rem;
    background-color: white  ;
}

.user-reg-form .button-field{
    width: 100%;
}

.button-field input{
    width: 100%;
    padding: 0.5rem 0.7rem;
    border: 1px solid rgb(243, 61, 61);
    color: rgb(243, 61, 61);
    margin-top: 0.2rem;
    transition: all ease-in 0.2s;
}

.button-field input:hover{
    border: 1px solid rgb(243, 61, 61);
    background-color: rgb(243, 61, 61);
    color: whitesmoke;
    
}

/* manage listings page */
main .manage_listings{
    /* width: 80%; */
    margin: auto;
}

.manage_listings h2{
    text-align: center;
    font-size: 20px;
}

.manage_listings table{
    margin: auto;
    border: 1px solid black;
}

.manage_listings tbody tr{
    margin: 0.5rem;
    background-color: #deebddb0;
}

.manage_listings td{
    padding: 0.5rem 0.7rem;
}

.manage_listings form button{
    background-color: rgb(243, 61, 61);
    color: snow;
    padding: 0.2rem 0.3rem;
    border: 1px solid rgb(243, 61, 61);
}

.manage_listings #edit{
    background-color: snow;
    border: 1px solid rgb(243, 61, 61);
    color: rgb(243, 61, 61);
    padding: 0.2rem 0.3rem;
}

.manage_listings #show{
    color: rgb(243, 61, 61);
}

.manage_listings form button:hover{
    cursor: pointer;
}